<button ion-button icon-end>
  Mi Carrito
  <ion-icon name="cart"></ion-icon>
</button>

<ion-header>
  <ion-toolbar>
    <ion-title>Vinos y Licores</ion-title>
    
  </ion-toolbar>

  
  
</ion-header>

<ion-content class="cards-bg">

  <ion-card>

    <img src="assets/img/uno.jpg"/>

    <ion-card-content>
      <ion-card-title>
        TEQUILA DON JULIO
      </ion-card-title>
      <p>
        Un tequila reposado lleno de tradición, envejecido por al menos 8 meses en barricas de roble blanco americano que brindan su inigualable y característico sabor.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <p>Cantidad</p>
      <ion-col>
        <button ion-button clear small color="danger" type="button" data-automation-id="decreaseQuantity">
          <img src="assets/img/minus.df6e7282.svg" alt="minus"/>
        </button>
      </ion-col>
      <ion-col>
      <p class="text_text_3qcEt" data-automation-id="qtyTrigger">1pz</p>
    </ion-col>
      <ion-col>
        <button ion-button clear small color="danger" type="button" data-automation-id="increaseQuantity">
          <img src="assets/img/add.cd7c469e.svg" alt="add"/>
        </button>
      </ion-col>
     
    </ion-row>

  </ion-card>

  <ion-card>

    <div>
      <img src="assets/img/dos.jpg"/>
    </div>

    <ion-card-content>
      <ion-card-title>
        BACARDÍ
      </ion-card-title>
      <p>
        Bacardí Carta Blanca es un ron blanco, suave y aromático con notas florales y afrutadas (durazno, coco y plátano). Sus notas ligeras de vainilla y de almendra provienen de su reposo en barricas de roble blanco americano. Ahora en una presentación de 1.75 l.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <p>Cantidad</p>
      <ion-col>
        <button ion-button clear small color="danger" type="button" data-automation-id="decreaseQuantity">
          <img src="assets/img/minus.df6e7282.svg" alt="minus"/>
        </button>
      </ion-col>
      <ion-col>
      <p class="text_text_3qcEt" data-automation-id="qtyTrigger">1pz</p>
    </ion-col>
      <ion-col>
        <button ion-button clear small color="danger" type="button" data-automation-id="increaseQuantity">
          <img src="assets/img/add.cd7c469e.svg" alt="add"/>
        </button>
      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card>

    <div>
      <img src="assets/img/tress.jpg"/>
    </div>

    <ion-card-content>
      <ion-card-title>
        TEQUILA CENTENARIO
      </ion-card-title>
      <p>
        Descubre las cualidades del tequila Gran Centenario reposado entre las que destacan su suavidad, espléndido aroma y su color ámbar dorado brillante; dichas características son el resultado de su detallada elaboración y de los minuciosos cuidados que el maestro tequilero pone en cada lote.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <p>Cantidad</p>
     <ion-col>
        <button ion-button clear small color="danger" type="button" data-automation-id="decreaseQuantity">
          <img src="assets/img/minus.df6e7282.svg" alt="minus"/>
        </button>
      </ion-col>
      <ion-col>
      <p class="text_text_3qcEt" data-automation-id="qtyTrigger">1pz</p>
    </ion-col>
      <ion-col>
        <button ion-button clear small color="danger" type="button" data-automation-id="increaseQuantity">
          <img src="assets/img/add.cd7c469e.svg" alt="add"/>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card>

    <div>
      <img src="assets/img/cuatro.jpg"/>
    </div>

    <ion-card-content>
      <ion-card-title>
        BUCHANA'S
      </ion-card-title>
      <p>
        Buchanans De Luxe es un whisky que no puedes dejar de disfrutar en tus fiestas y reuniones.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <p>Cantidad</p>
      <ion-col>
        <button ion-button clear small color="danger" type="button" data-automation-id="decreaseQuantity">
          <img src="assets/img/minus.df6e7282.svg" alt="minus"/>
        </button>
      </ion-col>
      <ion-col>
      <p class="text_text_3qcEt" data-automation-id="qtyTrigger">1pz</p>
    </ion-col>
      <ion-col>
        <button ion-button clear small color="danger" type="button" data-automation-id="increaseQuantity">
          <img src="assets/img/add.cd7c469e.svg" alt="add"/>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>



</ion-content>